# Sistema operativo
.DS_Store
Thumbs.db

# Node.js (si usas Node para Tailwind u otras herramientas)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env

# Archivos de editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
